body{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto", system-ui;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--primary-color);
    width: 800px;
    height: 500px;
    border-radius: 15px;
}

.left-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    gap: 20px;
    padding: 20px;
    font-weight: 700;
    position: relative;
}

.title-container{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 20px;
    text-align: center;
}

.title-container .title{
    font-size: 48px;
    font-weight: 700;
    color: var(--text-color);
}

.title-container .description{
    font-size: 14px;
    color: var(--secondary-text-colo);
}

.list-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--secondary-text-colo);
}

.list-container .list-item{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.form, input, .btn{
    width: 100%;
}

.form .title-form{
    font-size: 13px;
    font-weight: bold;
    color: var(--secondary-text-colo);
}

.form input{
    margin: 5px 0;
    padding: 15px 10px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 8px;
}

.form .btn{
    padding: 15px 20px;
    background-color: var(--background-color);
    color: var(--primary-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.form .btn:hover{
    background-color: var(--active-color);
}

.error{
    color: rgba(255, 0, 0,0.7);
    font-size: 12px;
    position: absolute;
    right: 30px;
    bottom: 145px;
}

.error-input{
    border-color: rgba(247, 35, 35, 0.82) !important;
    background-color: rgba(255, 87, 87, 0.54);
}

.disable{
    display: none !important;
}

.email-value{
    font-weight: 700;
    
}

.right-container .img-container{
    width: 310px;
}

/* ----------------------------------------------------------------------- */

.container-success{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: var(--primary-color);
    width: 400px;
    height: 400px;
    border-radius: 15px;
    margin-top: 20px;
}

.success{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.icon-success{
    background-color: beige;
    width: 50px;
}


.title-success{
    font-size: 42px;
    color: var(--text-color);
}

.description-success{
    color: var(--secondary-text-colo);
}

.btn-success{
    padding: 15px 20px;
    background-color: var(--background-color);
    color: var(--primary-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.btn-success:hover{
    background-color: var(--active-color);
}